{% extends "global/Base.html" %}
{% load staticfiles otree %}
    

{% block content %}
    <p>
        On a scale from 50 % = very uncertain to 99 % = very certain, 
        how certain are you that your colleague has made the same choice as you?
    </p>
    <div class="choice-button-wrapper">
        <button name="certainty" value="0.5" class="btn btn-primary btn-large">No certainty at all (50%)</button>
        <button name="certainty" value="0.625" class="btn btn-primary btn-large">Slightly certain (62.5%)</button>
        <button name="certainty" value="0.75" class="btn btn-primary btn-large">Somewhat certain (75%)</button>
        <button name="certainty" value="0.875" class="btn btn-primary btn-large">Quite certain (87.5%)</button>
        <button name="certainty" value="0.99" class="btn btn-primary btn-large">Very certain (99%)</button>
    </div>

    {% include Constants.instructions_template %}

{% endblock %}
