{% extends "global/Base.html" %}
{% load staticfiles otree %}

{% block title %}
    Results (after round {{ subsession.round_number }})
{% endblock %}

{% block content %}

    <table class="table">
        <thead>
            <td><strong>Round</strong></td>
            <td>You went to the</td>
            <td>at</td>
            <td>Your colleague went to the</td>
            <td>at</td>
            <td>estimated probability of colleague doing the same as you</td>
            <td><strong>Penalty</strong></td>
        </thead>
        <tbody>
            {% for p in player_in_all_rounds %}
            <tr>
                <td><strong>{{ p.round_number }}</strong></td>
                <td>{% if p.choice == True %} canteen {% else %} office {% endif %}</td>
                <td>{{ p.arrival_time|floatformat:"2" }}</td>
                <td>{% if p.get_partner.choice == True %} canteen {% else %} office {% endif %}</td>
                <td>{{ p.get_partner.arrival_time|floatformat:"2" }}</td>
                <td>{{ p.certainty }}</td>
                <td><strong>{{ p.payoff }}</strong></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if lost == True %}
        <p>
            {% if too_late == True and player.choice == True %}
                It was too late to go to the canteen together!
            {% else %}
                You went to the {% if player.choice == True %} canteen
                {% else %} office {% endif %} while your colleague did not.
            {% endif %}
        </p>
    {% else %}
        <p>
            You both chose to go to the {% if player.choice == True %} canteen.
            {% else %} office. {% endif %} Good work!
        </p>
    {% endif %}

    <p>
        You lost <strong> {{ player.payoff}}</strong> this round. Your total losses are <strong>{{ payoff_in_this_phase }}</strong>.
        You still have <strong>{{ tot_payoff }}</strong>.
    </p>
    <P>
        {% if subsession.round_number == Constants.num_rounds %}
          Thank you for your participation.
        {% endif %}
    </p>
    {% next_button %}
{% endblock %}
