{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <p>
        You will be playing this game with another person pretending
        to be your colleague.
    </p>
    <p>
        Every morning you arrive at work between 8:30am and 9:10am.
        Your colleague will arrive either 5 minutes before you,
        at the same time as you, or 5 minutes after you.
        <i>
          Example: You arrive at <strong>8:47am.</strong>.
          Your colleague can arrive at <strong>8:42am</strong>,
          <strong>8:47am</strong>, or <strong>8:52am</strong>.
        </i>
    </p>
    <p>
        If you arrive before 9:00am, you have time to go to the canteen
        for a cup of coffee. If you arrive at 9:00am or after, you should
        go straight to your office. You should only go to the
        canteen if your colleague does.
    </p>
    <p>
        At the beginning of each round you will know only your own arrival time
        and you will have to decide whether to go to the canteen or
        to your office. You will also be asked to estimate the probability
        of you both doing the same ting.
    <p>
        <strong>Payoff and penalties:</strong>
    </p>
    <p>
        You start the game with {{ Constants.endowment }} and will have to pay
        various amounts of penalties in each round, depending on how well
        you both do. Your challenge
        is to have as much money left as possible when the game ends, after
        which the remaining amount is payed out to you. The game
        ends after {{ Constants.num_rounds }} rounds, or when you or your
        colleague has no more money left.
    </p>
    <p>
        <strong>As a general rule you will minimizes you losses
          by doing the same as your colleague
          (preferably going to the canteen) and by giving an honest
          estimate of the chances of doing so.
        </strong>
    </p>
    <p>
        If you are interested in the details of how the penalties are
        calculated, here are the scoring rules:
    </p>
    <ul>
        <li>
            If you guess correctly that both of you went to the
            canteen before 9:00am, you pay a <strong>small</strong> penalty
            proportional to how <strong>uncertain</strong> you were, e.g.:
            <ul>
                <li>
                    <strong>{{ -0.69|c }}</strong>
                    if you gave it a 50% chance.
                </li>
                <li>
                    <strong>{{ -0.22|c }}</strong>
                    if you gave it a 80% chance.
                </li>
                <li>
                    <strong>{{ -0.01|c }}</strong>
                    if you gave it a 99% chance.
                </li>
            </ul>
        </li>
        <li>
            If you guessed correctly that both of you went to your
            offices, no matter what time, your penalty is
            <strong> doubled </strong>
            and proportional to how <strong>uncertain</strong> you were, e.g.:
            <ul>
                <li>
                    <strong>{{ -1.39|c }}</strong>
                    if you gave it a 50% chance.
                </li>
                <li>
                    <strong>{{ -0.45|c }}</strong>
                    if you gave it a 80% chance.
                </li>
                <li>
                    <strong>{{ -0.02|c }}</strong>
                    if you gave it a 99% chance.
                </li>
            </ul>
        </li>
        <li>
            If you are wrong, and one of you goes to the canteen while the
            other goes to the office - or if any of you goes to the canteen at
            9:00am or after, your penalty is <strong>doubled</strong>
            and proportional to how <strong>certain</strong> you were, e.g.:
            <ul>
                <li>
                    <strong>{{ -1.39|c }}</strong>
                    if you gave it a 50% chance.
                </li>
                <li>
                    <strong>{{ -3.22|c }}</strong>
                    if you gave it a 80% chance.
                </li>
                <li>
                    <strong>{{ -9.21|c }}</strong>
                    if you gave it a 99% chance.
                </li>
            </ul>
        </li>
    </ul>
    </p>
</div>
